<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/bootstrap.min.css"
        />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <ul class="nav">
            {% if "username" in session %}
            <li class="nav-item">
                <a href="/users/{{session['username']}}" class="nav-link"
                    >Account Info</a
                >
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            {% endif %}
        </ul>
        <div class="container my-4">
            {% for category, msg in get_flashed_messages(with_categories=true)
            %}
            <div class="alert alert-{{category}}">{{msg}}</div>
            {% endfor %} {% block content %}{% endblock %}
        </div>
    </body>
</html>
