<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/bootstrap.min.css"
        />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container my-4">
            {% for category, msg in get_flashed_messages(with_categories=true)
            %}
            <div class="alert alert-{{category}}">{{msg}}</div>
            {% endfor %} {% block content %}{% endblock %}
        </div>
    </body>
</html>
